<html>
  <head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/css/foundation.css">
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js

'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation.min.js"></script>
    <script>
      $(function(){
        $('form#firstform').submit(function(evt){
          $("#firstresponse-string").text("Let me check ...");
          $("#firstresults").html("")
          $.get('/listings', {company: $('#firstcompany').val(), keywords: $('#firstkeywords').val()}, function(resp){
            $("#firstresponse-string").text("We found " + resp.total_job_listings + " Job Listings and matched " + resp.matched_listings.length + " against your keywords")
            
            $.each(resp.matched_listings, function(index, val){
              $("#firstresults").append("<li><a href='" + val.link + "'>"+val.title+"</a> matching "+ val.matched_keywords.length +" keywords: "+val.matched_keywords.join(', ')+"</li>")
            })
          })
          evt.preventDefault();
          return false;
        });

        $('form#secondform').submit(function(evt){
          $("#secondresponse-string").text("Let me check ...");
          $("#secondresults").html("")
          $.get('/companies_hiring', { location: $('#location').val(), keywords: $('#secondkeywords').val(), exclude_companies: $('#excludelist').val()}, function(resp){
            $('#secondresponse-string').text("We found " + resp.length + " companies.");
            $.each(resp, function(idx, val){
              $("#secondresults").append("<li>" + val + "</li>");
            })
          })

          evt.preventDefault()
          return false;
        })
      })
    </script>
  </head>
  <body>
    <div id="container" class="row">
      <header class="large-12 columns">
        <h1>Scrape it</h1>
      </header>
      
      <div class="large-12 columns">
        <h4>Get All Jobs Listings of a Company</h4>
        <div class="large-4 columns">
          <form id="firstform">
            <label for="firstcompany">Company:</label>
            <input type="text" id="firstcompany" placeholder="Facebook">
            <label for="firstkeywords">Keywords (case-sensitive):</label>
            <input type="text" id="firstkeywords" placeholder="Ruby, Python, Golang, Scala">
            <input id="submit" type="submit" class="button">
          </form>
        </div>
        <div class="large-8 columns">
          <h3>Results:</h3>
          <h5 id="firstresponse-string"></h5>
          <ul id="firstresults">
            
          </ul>
        </div>
      </div>
     
     <div class="large-12 columns">
       <h4>Get Companies Hiring for keywords in a location</h4>
       <div class="large-4 columns">
          <form id="secondform">
            <label for="location">Location:</label>
            <input type="text" id="location" placeholder="Boston">
            <label for="excludelist">Exclude Companies:</label>
            <input type="text" id="excludelist" placeholder="Facebook, Apple">
            <label for="secondkeywords">Keywords (case-sensitive):</label>
            <input type="text" id="secondkeywords" placeholder="Ruby, Python, Golang, Scala">
            <input id="submit" type="submit" class="button">
          </form>
        </div>
        <div class="large-8 columns">
          <h3>Results:</h3>
          <h5 id="secondresponse-string"></h5>
          <ul id="secondresults">
            
          </ul>
        </div>
     </div>
    </div>
  </body>
</html>